@page
@using CatsMeetCore.Pages
@addTagHelper *, Microsoft.Mvc.TagHelpers
@model LobbyModel
@{
    ViewData["Title"] = "Lobby";
}
<div class="container header-container">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold">Chat Lobby</h1>
    </div>
</div>

<div id="onlineusers">
    <div class="row justify-content-around chat-user-row">
        @foreach (var cat in Model.catUsers)
        {
        <div class="cat-user col-lg-3">
            <div class="row">@cat.Name</div>
            <div class="row">@cat.Mood</div>
            <div class="row">@cat.Status</div>
            @if (cat.Status == "Online") {
                <button class="btn btn-warning btn-small">Chat</button>
            }
        </div>
        }
    </div>
</div>

<div id="menu-options">
    <div class="row justify-content-around">
        <div class="col-lg-4 align-self-end">
            <a class="back-btn" asp-page="/Index"><button class="btn btn-lg btn-secondary back-btn"> Back</button></a>
        </div>
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">

        </div>
    </div>
</div>
