@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <div class="container header-container">
    <div class="text-center">
        <h1 class="display-4 font-weight-bold">Cats Meet</h1>
    </div>
</div>
<div id="enter-container">
    <a class="enter-lobby" href="./Lobby"><button class="btn btn-small btn-secondary">Enter</button></a>
</div>

